# --- 변수와 자료형 ---
## 변수    
: 계산에 필요한 자료를 일시적으로 저장하거나 처리결과를 담을 수 있는 기억장소를 지정해 주는 역할    
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당 
### 변수 이름의 작성 규칙    
- 첫자는 영문으로 시작    
- 첫자를 제외하고 숫자, under bar, dot를 사용할 수 있음     
- 대문자와 소문자를 구분    
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋습니다.    
- 두 단어를 포함한 Camel 기법(변수이름을 지정할 경우 두번째 단어의 첫자는 대문자로 표시)으로 하거나 Snake 기법(under bar로 연결) 하는 것이 가독성이 좋습니다.

In [2]:
appleFruit = 10   # Camel 개발 시 많이 사용
apple_fruit = 20  # Snake 분석 시 많이 사용

# 자료형(Data Type)     
## 숫자 자료현

In [3]:
# 정수형
var01 = 123
var01 = -17
var01 = 0

print(var01)

0

In [4]:
# 실수형
var02 = 1.2
var02 = -12.34

print(var02)

-12.34

In [5]:
# 화면 출력
print("Apple")
print("Apple", "Banana") # 기본값이 콤마가 나오면 한 칸 띄어쓰기이다.
print("Apple" + "Banana") # 파이썬에서는 문자 더하기가 가능

Apple
Apple Banana
AppleBanana

In [6]:
# 연산자
var01 = 3
var02 = 4

print("덧셈 :", var01 + var02)
print("뺄셈 :", var01 - var02)
print("곱셈 :", var01 * var02)
print("실수 나눗셈 :", var01 / var02)
print("실수 나눗셈 몫 :", var01 // var02)
print("실수 나눗셈 나머지 :", var01 % var02)

덧셈 : 7
뺄셈 : -1
곱셈 : 12
실수 나눗셈 : 0.75
실수 나눗셈 몫 : 0
실수 나눗셈 나머지 : 3

In [7]:
# 거듭제곱

print('거듭제곱 :', var01 ** 2)
print('거듭제곱 :', pow(var01, 2))

거듭제곱 : 9
거듭제곱 : 9

### 파이썬 모듈을 이용한 수학 계산

In [8]:
import math # 수학 계산 모듈 불러오기

In [9]:
# 거듭제곱

math.pow(var01, 2)

9.0

In [10]:
# 제곱근

math.sqrt(var01)

1.7320508075688772

In [11]:
# sin 45도

math.sin(45)

0.8509035245341184

In [12]:
math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

In [13]:
# ""와 ''의 차이점
# He says " I love you."
print('He says " I love you."')

He says " I love you."

In [14]:
# 메모리에 있는 변수 확인
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'appleFruit',
 'apple_fruit',
 'exit',
 'get_ipython',
 'math',
 'open',
 'quit',
 'var01',
 'var02']

In [15]:
# 메모리에 있는 변수 삭제
var01
del var01
var01

NameError: name 'var01' is not defined

---
### 난수 발생

In [16]:
import random

In [24]:
# 1 ~ 100 사이의 수중 난수 1개 발생
# 원래 난수의 범위는 0 (False) < ~ < 1 (True)

random.randint(1, 100)

14

In [30]:
# 범위의 수

var01 = [1,2,3,4,5,6,7,8,9,10] #List()
print(var01)
range(1, 10+1) # range는 10까지 하면 10전까지 보여주어서 10+1을 써준다
print(list(range(1, 10+1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 2~10수중 짝수만 출력
list(range(2, 10+1, 2))

[2, 4, 6, 8, 10]

In [34]:
# 3 ~ 100까지의 수중 3의 배수만 List로 보기
print(list(range(3, 100+1, 3)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
# 10에서 2까지 짝수만 출력
print(list(range(10, 2-1, -2))) # 내림차순 "-" 사용

[10, 8, 6, 4, 2]

In [62]:
# Sampling

lotto_list = range(1, 45+1)
random.sample(lotto_list, 6)

[44, 5, 17, 36, 14, 27]

---
### 관계 연산자

In [63]:
num1 = 100
num2 = 20

In [ ]:
# 동등 비교
print(num1 == num2) # 같다.
print(num1 != num2) # 같지 않다. ! 먼저 나와야 함

False
True

In [ ]:
# 크기 비교
print(num1 > num2) # num1이 num2보다 크냐?
print(num1 < num2) # num1이 num2보다 작냐?
print(num1 >= num2) # num1이 num2보다 크거나 같냐? => (x)
print(num1 <= num2) # num1이 num2보다 작거나 같냐? =< (x)

True
False
True
False

---
### 논리 연산자    
: and , or

In [ ]:
# And Or 연산자 (&, |) 

print((num1 >= 50) and (num2 <= 10)) # True and False => False / True and True 일 때만 True가 나온다.
print((num1 >= 50) or (num2 <= 10))  # Or는 False or False만 False가 나온다. False = 0 , True = 1

False
True

In [ ]:
# 부정 연산자 (!)

print(not(num1 >= 50)) # True가 False 로 바뀐다.

False

----
### 문자열 자료형

In [73]:
var01 = "Hello World"
var01

'Hello World'

In [79]:
# 여러줄의 문자열 출력
var01 = """
    Hello World!
    Good to meet you.
            Bye!
    My father's wife is my mother.
    He says "I love you."
"""

print(var01)

    Hello World!
    Good to meet you.
            Bye!
    My father's wife is my mother.
    He says "I love you."

In [77]:
# 쌍따음표와 홑따음표의 사용

var01 = "My father's wife is my mother." # 홑따음표 표시하기 위해서 쌍따음표가 필요
var02 = 'He says "I love you."'
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you."

In [85]:
# 특수 문자를 사용한 출력
var03 = 'aaa\n\nbbb' # \n 다음 라인
print(var03)

var04 = 'aaa\t\tbbb' # \t tab
print(var04)

aaa

bbb
aaa		bbb

In [87]:
# 문자열 연산 (덧셈)
var01 = "Python"
var02 = "is fun"

print(var01 + var02)
print(var01, var02) # , 기본값이 한 칸 띄어쓰기

Pythonis fun
Python is fun

In [ ]:
# 문자열 연산(곱셈) - 파이썬만 가능하다.
var01 = "Python"
print(var01 * 3)

PythonPythonPython

In [91]:
var01 = '='
var02 = 'Python'

print(var01 * 21)
print(var02)
print(var01 * 21)

print("=" * 21)
print("Python")
print("=" * 21)

=====================
Python
=====================
=====================
Python
=====================

In [94]:
print("*" * 21)
print("Python\t\t파이썬")
print("*" * 21)

*********************
Python		파이썬
*********************

In [99]:
print("a", "b", "c", sep="")

abc

In [108]:
print(("*" * 21), ("Python\t\t파이썬"), ("*" * 21), sep="\n")
print("*"*21, "\n", "Python\t\t파이썬", "\n", "*"*21, sep="")
print("*"*21, "Python\t\t파이썬", "*"*21, sep="\n")

*********************
Python		파이썬
*********************
*********************
Python		파이썬
*********************
*********************
Python		파이썬
*********************

---
### 문자열 indexing과 slicing    
: indexing은 0번부터 시작하고 []안에 사용된다.     
slicing은 indexing의 범위를 지정한다.

In [ ]:
str = "abcdefghijklmn"
print(str[0])
print(str[0:2+1])
print(str[:2+1])
print(str[-1]) # 맨 뒤는 -1이다.
print(str[5:])
print(str[:5]) # 5 = 4+1 | 0부터 시작하기 때문에
# fghijkl
print(str[5:-2])

a
abc
abc
n
fghijklmn
abcde
fghijkl

In [125]:
str = "20201229Snow"

year = str[0:4]
day = str[4:8]
weather = str[8:]

print(year, day, weather) # 2020 1229 Snow

2020 1229 Snow

In [ ]:
str = "abbde"
print(str[2])
# str[2] = "c" # 문자열은 변경이 불가능하다. 리스트는 수정이 가능하다.
# abcde
print(str[0:2]+"c"+str[3:])

b
abcde

---
### 문자열 formatting    
:%s(string 문자), %d(decimal 정수), %f(float 실수)

In [133]:
# %d : 정수형 formatting
print("I have %d apples."%2)

I have 2 apples.

In [134]:
number = 2
print("I have %d apples."%number)

I have 2 apples.

In [135]:
# %s : 문자열 formatting

print("I have %s apples."%"tow")

I have tow apples.

In [136]:
# 혼합형 formatting
number =2 
fruit = "apples"

print("I have %d %s."%(number, fruit))

I have 2 apples.

In [139]:
# 문자열 정렬
print("I have 2 %s."%"apples")
print("I have 2 %10s."%"apples") # 10 글자를 쓰겠다는 의미, 우측 정렬
print("I have 2 %-10s."%"apples") # 10 글자를 쓰겠다는 의미, 좌측 정렬

I have 2 apples.
I have 2     apples.
I have 2 apples    .

In [ ]:
# %f  실수형 formatting
print("-"*10)
print("%0.4f"%3.14159) # 소수점 4자리만 사용하겠다. 소수점 5자리에서 자동 반올림이 된다.
print("%10.4f"%3.14159) # 전체 자리수 10자리와 소수점 4자리만 사용하겠다. 소수점 5자리에서 자동 반올림이 된다.

----------
3.1416
    3.1416

----
### f-string 포맷팅   
:Python 3.6이상

In [ ]:
name = "홍길동"
age = 32

print("%s의 나이는 %d살이다"%(name, age))
print(f"{name}의 나이는 {age}살이다.") # f-string

홍길동의 나이는 32살이다
홍길동의 나이는 32살이다.

In [149]:
number = 1234567
# 좌측정렬
print(f"[]{number:<20}]") 
# 우측정렬
print(f"[{number:>20}]")
# 가운데 정렬
print(f"[{number:^20}]")

[]1234567             ]
[             1234567]
[      1234567       ]

In [151]:
# 빈칸 채우기
print(f"[{number:#>20}]")
print(f"[{number:0>20}]")

[#############1234567]
[00000000000001234567]

In [ ]:
# 가운데 정렬, 빈칸채우기(-), 천단위 쉼표
print(f"[{number:-^20}]")
print(f"[{number:-^20,}]") # 사용자가 보기 편하게 천단위 쉼표가 가능하다.

[------1234567-------]
[-----1,234,567------]

In [158]:
# 실수 출력
f_number = 3.141592
print(f"[{f_number:>20.3f}]") # 소수점 3자리까지

[               3.142]